# Ansible — GNV OnBoard
# Usage: ansible-playbook -i inventory.yml playbook.yml

[defaults]
inventory = inventory.yml
remote_user = root
# ou : remote_user = ubuntu et become = true
roles_path = roles
retry_files_enabled = false
stdout_callback = yaml

[privilege_escalation]
become = true
become_method = sudo
